.dropdown-content {
  display: none;
  position: absolute;
  right: -25%;
  top: 100%;
  min-width: 150px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  background-color: var(--color-dark);
}

.dropdown-content li {
  font-size: var(--fs-tiny);
  padding: 1em;
  cursor: default;
} 

.dropdown-content li.btn {
  cursor: pointer;
  border-radius: 0%;
}


