.inspectionHeader {
  padding-top: 5px;
  text-align: center;
  color: #04AA6D;
  font-size: 150%;
}

.inspectionTable {
  margin-top: 2em;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.inspectionTable th {
  border: 1px solid #101010c4;
  text-align: center;
  padding: 8px;
  background-color: #04AA6D;
  color: white;
}

.inspectionTable td {
  border: 1px solid #101010c4;
  text-align: center;
  padding: 8px;
}

.inspectionTable tr:nth-child(even) {
  background-color: #dddddd;
}
