.area-form {
    font-size: 1.5em;
    margin-top: 4em;
    margin-left: 400px;
    width: 50%;
    border: 3px solid #04AA6D;
    border-radius: 25px;
    padding: 10px;
}

.area-form h1 {
  font-size: 120%;
}

.area-form button {
  background-color: #04AA6D;
  color: white;
  padding: 8px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.area-form input[type=text], .area-form input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}