
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 10px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
  --color-primary: #04AA6D;
  --color-secondary: #aa042b;
  --color-dark: #101010c4;
  --color-bright: whitesmoke;
  --fs-large: 2.5rem;
  --fs-medium: 1.8rem;
  --fs-small: 1.6rem;
  --fs-tiny: 1.2rem;
}


body {
  background-color: whitesmoke;
}

.nodisplay {
  display: none;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}