.areaTable {
  margin-top: 1em;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.areaTable th {
  border: 1px solid #101010c4;
  text-align: center;
  padding: 8px;
  background-color: #04AA6D;
  color: white;
}

.areaTable td {
  border: 1px solid #101010c4;
  text-align: center;
  padding: 8px;
}

.areaTable tr:nth-child(even) {
  background-color: #dddddd;
}

.areaListHeader {
    padding-top: 5px;
    color: #04AA6D;
    text-align: center;
    font-size: 150%;
}